* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}
body {
    background-color: rgb(244, 244, 244);
}
.header {
    background-color:  #131921;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    z-index: 100;
    position: sticky;
    width: 100%;
}
.header_logo{
    width: 130px;
    margin: 0 20px;
    object-fit: contain;
    margin-top: 5px;
    padding: 0 5px;
    padding-top: 10px;
    padding-bottom: -5px;
}
.header_logo:hover {
    border: 2px solid white;
}
.header-search {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

#search-bar {
    width: 100%;
    border: none;
}

.bi-search {
    background-color: #cd9042;
    padding: 5px;
}

.header_items {
    display: flex;
    justify-content: space-evenly;
}
.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}
.header_option:hover {
    border: 2px solid white;
    color: white;
    text-decoration: none;
}
.header_option_LineOne {
    font-size: 10px;
}
.header_option_LineTwo {
    font-size: 13px;
    font-weight: 800;
}
.header-cart {
    display: flex;
    gap: 5px;
    margin: 0 20px;
}

.the-cart {
    max-width: 1500px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    height: 100%;
    margin-top: 0;
}
.the-cart > .leftSide{
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.the-card {
    background-color: white;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
}
.the-card > .your-menu {
    display: flex;   
    border-bottom: 2px solid;
    margin-bottom: 10px;
}
.your-menu > p {
    flex: 1;
    margin: 0;
}

.the-cart > .rightSide {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.rightSide  > .order-checkout, .bestSeller {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.order-checkout > button {
    width: 80%;
    margin: auto;
    background-color: rgb(254, 195, 86);
    border-radius: 5px;
}
.order-checkout > h5, .order-checkout > p {
    width: 100%;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.item {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    border: 2px solid;
    height: 100%;
    margin-top: 0;
    padding: 20px;
}
.item > .item-image {
    object-fit: contain;
    height: 120px;
    width: 150px;
    position: relative;
    margin-top: 0;
}
.item-image > img {
    width: 100%;
    height: 100%;
}
.item > .item-info {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-info > .rating {
    width: 100%;
}
.item-price {
    width: 100%;
}
.item-info > .add-toCart {
    width: 100%;
    background-color: rgb(254, 195, 86);
    border-radius: 5px;
}